/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    font-family: 'Quicksand', sans-serif !important;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}
h1,h2,h3,h4{
    font-family: inherit;
    font-size: 40px;
    line-height: 50px;
}
figure img{
    width: 100% !important;
    height: 90vh !important;
}
a{
    color: #ffffff !important;
    text-decoration: none !important;
}
a:hover{
    color: #000000 !important;
    text-decoration: none !important;
}
.fit {
    max-width: 99% !important;
    max-height: 99% !;
}

/* Nav */
#nav{
    width: 382px;
    background: #FF7A00;
    color: #ffffff;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}
#nav h1{
    margin: 95px 46px 130px;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    width: 260px;
}
#nav .header-link:hover{
    color: #ffffff !important;
    text-decoration: none !important;
}
#nav #nav-link-description{
    margin-bottom: 140px;
}
#nav-link-description a{
    font-size: 12px;
    line-height: 32px;
    padding: 2px;
    width: 1509px;
    height: 34px;
    text-decoration: none;
} 
#nav-link-description a:hover,
#nav #nav-link-footer a:hover{
    color: #000000 !important;
    text-decoration: none !important;
}
#nav .nav-link-active{
    color: #000000 !important;
    
}
#nav .nav-link-active:hover{
    color: #ffffff !important;
    
}
#nav #nav-link-footer{
    text-align: center;
}
#nav #nav-link-footer p{
    padding: 10px;
    height: 33px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
}
#nav #nav-link-footer i{
    margin-right: 15px;
    opacity: 0.7;
}

@media screen and (max-width:768px){
    .carousel-item img{
        height: 200px !important;
    }
}