/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    font-family: 'Quicksand', sans-serif !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.home-header hr{
    width: 5%;
    border: 1px solid #FF7A00;
}
.header-p{
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #FF7A00;
}
.header-h3{
    font-weight: 500;
    font-size: 50px;
    line-height: 62px;
}
/* Testimonial */
#testimonial .test-quote{
    font-size: 55px;
}
#testimonial .bold-text{
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
}
/* Contact */
#contact{
    padding-bottom: 100px;
}
#contact textarea{
    width: 529px !important;
    height: 240px !important;
    background: #FEF7F1 !important;
    border: 0.5px solid rgba(243, 104, 74, 0.08) !important;
    border-radius: 2px !important;
    margin: auto;
    resize: none;
   
}
#contact input{
    width: 262px;
    height: 69px;
    background: #FEF7F1 !important;
    border: 0.5px solid rgba(243, 104, 74, 0.08) !important;
    border-radius: 2px !important;
}
#contact input:focus{
    outline: none !important;
}
#contact .btn{
    width: 262px !important;
    height: 59px !important;
    color: #ffffff !important;
    background: #FF7A00 !important;
    align-items: center !important;
    padding-top: 15px !important;
}
.contact-details-info{
    margin: auto 30px !important;
}
#contact .contact-details{
   margin-top:21px;
}
#contact .contact-details h6{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 130.19%;
    color: #2D2A2A;

}
#contact .contact-details p{
    font-size: 18px;
    line-height: 185%;
    color: #4A4A4A;
}
.portfolio-info .row img:hover,
    .service-info .row img:hover{
        transform: scale(1.05) !important;
        transition: transform 1s ease-in !important;
    } 
/* All */
#about,
#testimonial,
#contact,
#portfolio,
#services{
    padding-top: 60px;
}

@media screen and (max-width:1204px){
    #img-top img{
        width: 100%;
    }
    #contact textarea{
        width: 100% !important;
       
    }
    #contact input{
        width: 100%;
    }
    #contact input:focus{
        outline: none !important;
    }
    #contact .btn{
        width: 100% !important;
        
    }
    .contact-details-info> div {
       text-align: center !important;
    }
    .contact-details{
        width: 100%;
    }
    .contact-details-info{
        text-align: center;
    }
}
@media only screen and (min-width: 1024px){
    .portfolio-info .row img,
    .service-info .row img{
        width: 98% !important;
    } 
}
@media only screen and (min-width: 900px){
    .main_nav{
        width: 25% !important;
    }
}
@media only screen and (max-width: 894px){
    .main_nav{
        width: 37% !important;
    }
    .portfolio-info .row img{
        width: 99% !important;
    } 
}
@media only screen and (max-width: 425px){
    .portfolio-info .row img{
        width: 90% !important;
    } 
    .home-header hr{
        width: 10%;
        border: 1px solid #FF7A00;
    }
    .header-p{
        font-size: 15px;
    }
    .header-h3{
        font-size: 35px;
    }
}
@media only screen and (min-width: 768px){
    .main_nav{
        width: 22% !important;
    }
}